* {
  font-family: "Monospace", Verdana, sans-serif;
  background-color: #f9e9e1;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover,
a:visited:hover {
  text-decoration: none;
  color: black;
}

a:active,
a:visited:active {
  text-decoration: none;
  color: black;
}
